.hide {
    display: none;
}

.show {
<<<<<<< HEAD
    display: block;
    .mask {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        position: absolute;
        z-index: 1001;
        .diolog {
            position: absolute;
            width: 600px;
            height: 280px;
            background: #ffffff;
            z-index: 1002;
            top: 50%;
            left: 50%;
            margin-top: -140px;
            margin-left: -300px;
            padding:0 30px;

            &.no-data {
                height: 400px;
            }
            
    
            .diolog-title {
                width: 100%;
                height: 64px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #ECECEC;
                span {
                    font-size: 18px;
                    color: #222222;
                }
    
                img {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
    
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .nodata {
                    margin-top: 50px;
                    width: 201px;
                    height: 160px;
                }
                span {
                    display: block;
                    padding: 44px 62px;
                    line-height: 20px;
                }
                button {
                    margin-top: 10px;
                    width:300px;
                    height:40px;
                    background:rgba(22,156,190,1);
                    outline: none;
                    border: 0;
                    color: #ffffff;
                    font-size: 15px;
                    line-height: 40px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
    
=======
    display: flex;
    flex-flow: row wrap;
    
    .diolog {
        box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.20); 
        margin-top:  10px;
        margin-left: 10px;
        background: #ffffff;
        padding:32px 36px 24px 32px;
        width: 438px;
        border-radius: 4px;

        .diolog-title {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            span {
                margin-left: 16px;
                font-size: 16px;
                font-family: PingFangSC, PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                color: #333333;
                line-height: 24px;
            }

            img {
                width: 23px;
                height: 23px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            .span {
                display: block;
                padding: 12px 0 28px 39px;
                line-height: 22px;
                font-size: 14px;
                font-family: PingFangSC, PingFangSC-Regular;
                font-weight: 400;
                color: #666666;
            }

            .tips {
                padding: 12px 0 0 39px;
                font-size: 14px;
                font-family: PingFangSC, PingFangSC-Regular;
                font-weight: 400;
                color: #333333;
                line-height: 22px;
            }

            .em_tips {
                padding: 12px 0 24px 39px;
                font-size: 12px;
                font-family: PingFangSC, PingFangSC-Regular;
                font-weight: 400;
                color: #666666;
                line-height: 22px;
            }

            .down_tips {
                padding: 12px 0 24px 39px;
                font-size: 12px;
                font-family: PingFangSC, PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                color: #0575b8;
                line-height: 17px;

                em {
                    margin-left: 12px;
                    font-style: normal;
                    cursor: pointer;
                }
            }
        }

        .operate {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            .check {
                position: absolute;
                left: 39px;
            }

            
            button {
                width: 65px;
                height: 32px;
                background: #ffffff;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-family: MicrosoftYaHei;
                text-align: center;
                color: #333333;
                outline: none;
                cursor: pointer;

                &.ok {
                    background: #0575b8;
                    border: 0;
                    font-size: 14px;
                    font-family: MicrosoftYaHei;
                    text-align: center;
                    color: #ffffff;
                    margin-left: 8px;
                }
            }
        }
        
    }
}

// 公用
.ant-radio-group-outline {
    padding: 12px 0 0 39px;

    .ant-radio-checked::after {
        border: 1px solid #0575B8;
    }

    .ant-radio-inner::after {
        background-color: #0575B8;
    }
}

.ant-checkbox-wrapper {

    .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: #0575B8;
    }

    span {
        font-size: 12px;
    }

    .ant-checkbox-checked::after {
        border: 1px solid #0575B8;
    }

    .ant-checkbox-checked {
        .ant-checkbox-inner {
            background-color: #0575B8;
            border: 1px solid #0575B8;
        }
    }
}

// 第二种弹窗样式
.ant-modal-body {
    .p {
        font-size: 13px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #333333;
        line-height: 20px;
        margin-bottom: -10px;
    }
    .ant-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.col_checkbox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .ant-col {
                margin-top: 12px;
            }
        }

        &.line-top {
            align-items: flex-start;
        }
    }

    p {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #666666;
        line-height: 20px;
    }
}

.ant-modal-footer {

    .ant-btn:active, .ant-btn.active {
        color: #0575b8;
        border-color: #0575b8;
    }

    .ant-btn-primary {
        background-color: #0575b8;
        border-color: #0575b8;
    }
>>>>>>> 862198c11d7bf4186af4f4752e9ad287176aab86
}

