.home-warp {

}

.vertical-steps-wrap {
  padding: 12px;
  background: #fff;
  .ant-steps-dot .ant-steps-item-content {
    width: auto;
  }
  .ant-steps-vertical .ant-steps-item-description {
    margin: 12px;
    padding: 12px;
    background: #F9F9F9;
    border-radius: 4px;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: #003366;
  }
  .ant-steps-dot .ant-steps-item-icon {
    width: 10px;
    height: 10px;
  }
  .ant-steps-vertical.ant-steps-dot .ant-steps-item-process .ant-steps-icon-dot {
    left: 0;
    top: 0;
    background: #003366;
  }
  .ant-steps-vertical.ant-steps-dot .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
    left: -8px;
  }
  .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
    width: 2px;
    background-color: #E1EEFF;
  }
  .ant-steps-icon {
    &:before {
      content: ' ';
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -3px;
      left: -13px;
      border-radius: 100%;
      background: #E1EEFF;
    }
  }
  .vertical-step-item-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    .title-txt {
      padding-right: 22px;
      color: #000;
    }
    .extra-txt {
      position: relative;
    }
    .red {
      color: #FF0B0B;
    }
    .yellow {
      color: #FFAD33;
    }
    .blue {
      color: #0575B8;
    }
    .icon-arrow {
      display: inline-block;
      width: 25px;
      height: 24px;
      position: absolute;
      top: -1px;
      margin-left: 10px;
      background: url("../../images/icon-arrow.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}