
.ant-table-tbody td {
    text-align: center;
    font-size: 12px !important;
    color: #666666;

    .title {
        
        color: #666666 !important;
        .anticon{
            &.anticon-caret-down {
                margin-left: 5px;
                font-size: 10px;
            }
        }
    }

    .red {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #ff7148;
        border-radius: 50%;
    }

    .blue {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #169340;
        border-radius: 50%;
    }

    .gray {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #c8c8c8;
        border-radius: 50%;
    }

    .h_link {
        margin-left: 16px;
        color: #0575B8;
        font-size: 12px;
    }
}


.ant-table-thead tr th {
    text-align: center;
}

.pagination {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .pagination_left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .btn {
            margin-left: 16px;
            font-size: 14px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            color: #0575b8;
            line-height: 40px;
        }
    }

    .pagination_right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .ant-pagination-item-link {
            border: 0 !important;
        }
    
        .ant-pagination-item {
            border: 0 !important;
            &.ant-pagination-item-active {
                border: 1px solid #d9d9d9;
            }
        }
        span {
            font-size: 14px;
            color: #666666;
    
            &.tips {
                font-size: 12px;
                margin-right: 10px;
            }
           
        }
    }

    
}